html {
    font-size: 125%; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'zesty'; /* Choose a name for your font */
    src: url('zesty.ttf') format('truetype'); /* Adjust the path and format accordingly */
}

h1 {
    font-family: 'zesty', sans-serif;
    color: #333;
    text-align: center;
}

p, form {
    text-align: center;
}

form {
    max-width: 30rem;
    margin: 1rem auto;
}

.pleasework {
    display: flex;
    align-items: center
}

input[type="text"], 
input[type="submit"]{
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}

input[type="text"] {
    flex-grow: 1;
    border: 1px solid #ddd;
}

input[type="submit"] {
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    border: none;
    background-color: #606d60;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
background-color: #4a544a;
}

#chat-box {
    max-width: 30rem;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

#chat-box p {
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: #e9e9e9;
    border-radius: 0.2rem;
}
